.card {
  margin-top: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  width: auto;
}

.shadow-lg {
  min-height: 300px;
}
.card-subtitle {
  font-size: 0.8rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card-text {
  font-style: "Montserrat";
  margin-top: 20px;
  margin-bottom: 10px;
}
.sub-head {
  font-weight: bold;
  margin-right: 10px;
}
.no-tweet {
  margin-top: 100px;

  font-size: 1.5rem;
  text-align: center;
}
.back-btn {
  float: right;
}
